---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?destination=253%20W%20125th%20St,%20New%20York,%20NY%2010027&key=AIzaSyAYzElSMSzq5hq1Qr9WzcS9Uf3BnDed62w&language=en&origin=20%20W%2034th%20St.,%20New%20York,%20NY%2010001
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - New York, NY
    body:
      encoding: UTF-8
      string: |
        {
           "geocoded_waypoints" : [
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJr92XCKlZwokRIy2j_7Rb2V8",
                 "types" : [ "street_address" ]
              },
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJ3W90MG32wokRmKw-g1FC58E",
                 "types" : [ "street_address" ]
              }
           ],
           "routes" : [
              {
                 "bounds" : {
                    "northeast" : {
                       "lat" : 40.8176611,
                       "lng" : -73.9502291
                    },
                    "southwest" : {
                       "lat" : 40.74906259999999,
                       "lng" : -74.00480039999999
                    }
                 },
                 "copyrights" : "Map data ©2023 Google",
                 "legs" : [
                    {
                       "distance" : {
                          "text" : "6.7 mi",
                          "value" : 10862
                       },
                       "duration" : {
                          "text" : "25 mins",
                          "value" : 1488
                       },
                       "end_address" : "253 W 125th St, New York, NY 10027, USA",
                       "end_location" : {
                          "lat" : 40.8097814,
                          "lng" : -73.9502291
                       },
                       "start_address" : "20 W 34th St., New York, NY 10118, USA",
                       "start_location" : {
                          "lat" : 40.74906259999999,
                          "lng" : -73.98601680000002
                       },
                       "steps" : [
                          {
                             "distance" : {
                                "text" : "1.1 mi",
                                "value" : 1810
                             },
                             "duration" : {
                                "text" : "9 mins",
                                "value" : 534
                             },
                             "end_location" : {
                                "lat" : 40.75697359999999,
                                "lng" : -74.00480039999999
                             },
                             "html_instructions" : "Head \u003cb\u003enorthwest\u003c/b\u003e on \u003cb\u003eW 34th St.\u003c/b\u003e toward \u003cb\u003e6th Ave\u003c/b\u003e/\u003cwbr/\u003e\u003cb\u003eAve of the Americas\u003c/b\u003e",
                             "polyline" : {
                                "points" : "sxuwFrkqbMOb@M^GRc@pACDK\\ABe@vASl@IVGROd@Up@e@xAa@rAM^Sl@oA`EK\\CHa@pAEPc@rAQh@ENM^Qf@a@nAe@|AOb@wApEGREL[hAITQf@M\\O`@ENa@lAM`@Of@]jAQf@g@|AENc@nAOf@?@Qh@]fACJSn@g@|A[dAM^Wv@K^EJ_@hAGRQh@m@jBM^K^CFY|@EHIXWx@GLCJEN_@lAYx@Ut@M\\Mb@GTSn@"
                             },
                             "start_location" : {
                                "lat" : 40.74906259999999,
                                "lng" : -73.98601680000002
                             },
                             "travel_mode" : "DRIVING"
                          },
                          {
                             "distance" : {
                                "text" : "1.2 mi",
                                "value" : 1870
                             },
                             "duration" : {
                                "text" : "5 mins",
                                "value" : 318
                             },
                             "end_location" : {
                                "lat" : 40.7715305,
                                "lng" : -73.99420529999999
                             },
                             "html_instructions" : "Turn \u003cb\u003eright\u003c/b\u003e onto \u003cb\u003eNY-9A N\u003c/b\u003e/\u003cwbr/\u003e\u003cb\u003e12th Ave\u003c/b\u003e\u003cdiv style=\"font-size:0.9em\"\u003eContinue to follow NY-9A N\u003c/div\u003e",
                             "maneuver" : "turn-right",
                             "polyline" : {
                                "points" : "ajwwF~`ubMg@YgFiD[S]S_C}A{@k@wA}@UOOK_@W]Wc@YKIw@i@]Ua@Wa@Y_@Ww@u@MOY_@c@u@i@{@SWmAiBKM[c@IKOQSSa@_@MMEEIEMKMICCAAg@]QKmBoAMIq@a@o@a@KIQK}B{A{B{AECaBiASMWQkAu@YQa@W{DiCKGEEIE[OQKSGSIOEA?KCSGSEEAKCe@COAA?m@EOAq@EQCMCQCA?OEOCOEME"
                             },
                             "start_location" : {
                                "lat" : 40.75697359999999,
                           [...]
